{
	"editorconfig": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"printWidth": 140,
	"semi": false,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"trailingComma": "none",
	"vueIndentScriptAndStyle": true
}
